body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.range-table {
  display: table;
  table-layout: fixed;
}

.deck {
  display: table;
  table-layout: fixed;
  position: absolute;
  top: 30%;
  left: 65%;
}

.deck-row {
  display: table-row;
}

.deck-card {
  display: table-cell;
}


.range-row {
  display: table-row;
}

.range-table .range-row:not(:last-child) .range-hands {
  border-bottom: none;
}

.range-row .range-hands:not(:last-child) {
  border-right: none;
}

.range-hands {
  display: table-cell;
  border: 1px solid black;
}

.range-hands button {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}

.deck-card[isselected=true] button {
  box-shadow: 0 3px 0 #00823F;
}

/*selected hands*/
.range-hands[isselected=true] button {
  background-col  or: green;
}
